$primary-background-color: #F5F5F5;
$secondary-background-color: #AD3705;
$primary-text-color: #023;
$secondary-text-color: #900;
$primary-link-color: #023;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 50%);
$flash-danger-color: #FFA715;